.i_musicas {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 189px;
}
.texto_musica {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.musicas {
    background-color:  aqua;
}