@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url(albuns.css);
@import url(contate-me.css);
@import url(header.css);
@import url(home.css);
@import url(musicas.css);
@import url(turne.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
section {
    padding: 20px 3%;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: #282828;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 50px;
}